<?php

return [
    'environments' => [
        'default' => [
            'yamlFile' => 'default.yaml',
            'path' => './migrations',
        ],
    ],
    'save' => [
        'indentation' => 2,
    ]
];
